<p id="notice"><%= notice %></p>

<p>
  <strong>Salary:</strong>
  <%= @job.salary %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job.location %>
</p>

<p>
  <strong>Time:</strong>
  <%= @job.time %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @job.meal %>
</p>

<p>
  <strong>Restriction:</strong>
  <%= @job.restriction %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @job.insurance %>
</p>

<p>
  <strong>Num:</strong>
  <%= @job.num %>
</p>

<p>
  <strong>Subsidy:</strong>
  <%= @job.subsidy %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @job.contact %>
</p>

<p>
  <strong>Created date:</strong>
  <%= @job.created_date %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @job.expire_date %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @job.tag %>
</p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company %>
</p>

<p>
  <strong>Company:</strong>
  <%= @job.company_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
